<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Admin Dashboard</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/feather/feather.css">
    <link rel="stylesheet" href="~/assets/plugins/icons/flags/flags.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.css">
</head>
<body>

    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="/Home/Dashboard" class="logo">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>
                <a href="/Home/Dashboard" class="logo logo-small">
                    <img src="~/assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <div class="menu-toggle">
                <a href="javascript:void(0);" id="toggle_btn">
                    <i class="fas fa-bars"></i>
                </a>
            </div>

            <ul class="nav user-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown has-arrow new-user-menus">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                            <span class="user-img">
                                <img class="rounded-circle" src="~/assets/img/profiles/avatar-01.jpg" width="31" alt="Soeng Souy">
                                <div class="user-text">
                                    <h6>Soeng Souy</h6>
                                    <p class="text-muted mb-0">Administrator</p>
                                </div>
                            </span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="~/assets/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>Soeng Souy</h6>
                                    <p class="text-muted mb-0">Administrator</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="profile.html">My Profile</a>
                            <a class="dropdown-item" href="inbox.html">Inbox</a>
                            <a class="dropdown-item" href="/Home/Logout">Logout</a>
                        </div>
                    </li>
                }
            </ul>
        </div> <!-- Closing header div here -->
        <div class="page-wrapper">
            <div class="content container-fluid">
                @RenderBody()
            </div>
            <footer>
                <p>Copyright © 2022 Geeta Academy.</p>
            </footer>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="submenu">
                                    <a href="#">
                                        <i class="fas fa-graduation-cap"></i> <span> Students</span> <span class="menu-arrow"></span>
                                    </a>
                                    <ul>

                                        <li><a href="/PreAdmission/Index">Pre-Admission</a></li>
                                        <li><a href="/MainAdmission/Index">Main Admission</a></li>


                                    </ul>
                                </li>
                            }
                            <li>
                                <a href="holiday.html"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
                            </li>
                            <li>
                                <a href="fees.html"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
                            </li>
                            <li>
                                <a href="exam.html"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
                            </li>
                            <li>
                                <a href="event.html"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div> <!-- Closing main-wrapper div here -->

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/prettify.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
